*{
    margin: 0;
}
nav{
    background-color: darkcyan;
    padding: 20px;
}

nav a{
    padding: 20px;
text-decoration: none;
}

.active{
    font-size: 25px;
    color:chocolate;
    font-weight: bold;
}